extends layout

block content
  div#carto(data-cartoLayerGroup=cartoLayerGroup)
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/buildings') CH Building Intellgience Database
  
  div.container-fill
    div#building-id
    div#map
  script(src='/javascripts/buildings.js')
